<app-header></app-header>
<section class="cta va">
    <div class="container">
      <div class="columns">
        <div class="column is-6">
          <h1 class="title is-1 ">Humo Health Care Pvt Ltd.</h1>
          <hr class="content-divider">
          <h2 class="subtitle"> P-2/354, New Thana Road, S.P Colony, New Delhi-110081, Delhi, India
           </h2>
        </div>
        <div class="column is-6">
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input is-medium" type="text" placeholder="Vijesh Sharma">
            </div>
          </div>
          <br>
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input is-medium" type="email" placeholder="test@test.com">
            </div>
          </div>
          <br>
          <div class="field">
              <label class="label">Query</label>
              <div class="control">
                <input class="input is-medium" type="email" placeholder="Description and details">
              </div>
            </div>
            <Br>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-white is-rounded is-outlined">Submit</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>