<app-header></app-header>
<section id="parallax-2" class="hero is-large is-info">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6">
                    <h1 class="title is-1 ">About Us</h1>

                    <p>HUMO HEALTH CARE (p) Ltd is set to serve people suffering from Cancer, and other critical illness
                        through quality and affordable allopathic and Herbal Medicines. At HHC (pvt) Ltd, Our Main Aim
                        is to provide the best possible services to the needy</p>

                    <p>We are a pharmaceutical company dealing in the products related to the healthcare of the people,
                        specially related to Cancer.</p>


                    <p>We are having Variety of products, which you may go through our Product list.</p>


                    <p>We are taking the products from Indian as well as International market to fulfill the need of the
                        patients and Medical practitioners.</p>

                    <p>We have Medicines, Radiotherapy machine accessories, and some medical Instruments.</p>

                    <p>We Market the products with the best possible prices, with high quality.</p>

                    <h3>Our Vision</h3>
                    <p>To be an integrated health care company valued for its commitment to ethics, quality and
                        services.</p>

                    <h3>Our Mission</h3>
                    <p>To Develop, produce and market, price effective products related to human health care that can
                        matchup to international quality of high order.</p>

                    <h3>Our Motto</h3>
                    <p>To Bring Smile on every face, Because SMILE MATTERS A LOT.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>