<app-admin-header></app-admin-header>
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
    <header class="w3-container" style="padding-top:22px">
        <h5><b><i class="fa fa-dashboard"></i> Add Products</b></h5>
    </header>
    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-container">
            <form [formGroup]="formdata" (ngSubmit)="OnSubmit(formdata.value)">
                <div class="p-2 row">
                    <div class="col-2">
                        <label for="Title">Product Title</label>
                    </div>
                    <div class="col-4">
                        <input type="text" formControlName="Title" name="Title" placeholder="Your name..">
                    </div>
                    <div class="col-2">
                        <label for="lname">Product Sub Title</label>
                    </div>
                    <div class="col-4">
                        <input type="text" formControlName="Subtitle" name="Subtitle" placeholder="Your last name..">
                    </div>
                </div>
                <div class="p-2 row">
                    <div class="col-2">
                        <label for="fname">Product Price</label>
                    </div>
                    <div class="col-4">
                        <input type="text" formControlName="Price" name="Price" placeholder="Product Price"
                            (keypress)="keyPressNumbersWithDecimal($event)">
                    </div>
                    <div class="col-2">
                        <label for="lname">Product Descriptions</label>
                    </div>
                    <div class="col-4">
                        <input type="text" formControlName="Descriptions" name="Descriptions"
                            placeholder="Product Descriptions..">
                    </div>
                </div>
                <div class="p-2 row">
                    <div class="col-2">
                        <label for="fname">Product Images</label>
                    </div>
                    <div class="col-4">
                        <input type="file" accept="image/*" multiple (change)="selectFiles($event)" />
                        <span> Maximum 4 images allowed</span>
                        <button class="btn btn-success" [disabled]="!selectedFiles" (click)="uploadFiles()"> Upload
                        </button>
                    </div>
                </div>
                <div class="p-2 row">
                    <div class="col-2">
                    </div>
                    <div class="col-4">
                        <button class="btn btn-primary"> Submit </button>
                    </div>
                </div>

                <div class="p-2 row">
                    <div class="col-md-3 col-sm-6" *ngFor="let imgs of previews let i=index">
                        <div class="product-grid2">
                            <div class="product-image+{{i+1}}" >                               
                                    <img class="pic-1" src="{{imgs}}" >                             

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>