<app-admin-header></app-admin-header>
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
    <header class="w3-container" style="padding-top:22px">
        <h5><b><i class="fa fa-dashboard"></i> Add Products</b></h5>
    </header>
    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-container">
            <form>
                <div class="p-2 row">
                    <div class="col-2">
                        <label for="Title">Product Title</label>
                    </div>
                    <div class="col-4">
                        <input type="text" id="Title" name="Name" placeholder="Your name..">
                    </div>
                    <div class="col-2">
                        <label for="lname">Product Sub Title</label>
                    </div>
                    <div class="col-4">
                        <input type="text" id="Subtitle" name="Subtitle" placeholder="Your last name..">
                    </div>
                </div>
                <div class="p-2 row">
                    <div class="col-2">
                        <label for="fname">Product Price</label>
                    </div>
                    <div class="col-4">
                        <input type="text" id="Price" name="Name" placeholder="Product Price"
                            (keypress)="keyPressNumbersWithDecimal($event)">
                    </div>
                    <div class="col-2">
                        <label for="lname">Product Descriptions</label>
                    </div>
                    <div class="col-4">
                        <input type="text" id="Descriptions" name="Descriptions" placeholder="Product Descriptions..">
                    </div>
                </div>
                <div class="p-2 row">
                    <div class="col-2">
                        <label for="fname">Product Images</label>
                    </div>
                    <div class="col-4">
                        <input type="file" accept="image/*" multiple (change)="selectFiles($event)" />
                        <button class="btn btn-success" [disabled]="!selectedFiles" (click)="uploadFiles()"> Upload
                        </button>
                    </div>
                </div>
                <div class="p-2 row">
                    <div class="col-2">                      
                    </div>
                    <div class="col-4">
                        <button class="btn btn-primary"> Submit </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>