
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<div >
    <ngb-carousel #carousel (slide)="onSlide($event)" >
    <ng-template ngbSlide *ngFor="let img of images; index as i">      
      <div class="carousel-caption">
        <h3>{{i + 1}}</h3> 
      </div>
      <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
        <div class="picsum-img-wrapper">
          <img [src]="img" alt="My image {{i + 1}} description" style="height:525px; width: 1350px;">
        </div>
      </a>
    </ng-template>
  </ngb-carousel>  
</div>