<app-admin-header></app-admin-header>
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
    <header class="w3-container" style="padding-top:22px">
        <h5><b><i class="fa fa-dashboard"></i> Add Contents</b></h5>
      </header>
    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-container">
            <form>
                <div class="row">
                    <div class="col-2">
                        <label for="fname">Content Name</label>
                    </div>
                    <div class="col-4">
                        <input type="text" id="fname" name="Name" placeholder="Your name..">
                    </div>
                    <div class="col-2">
                        <label for="lname">Content Type</label>
                    </div>
                    <div class="col-4">
                        <input type="text" id="lname" name="Type" placeholder="Your last name..">
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <label for="fname">Content Title</label>
                    </div>
                    <div class="col-4">
                        <input type="text" id="fname" name="Title" placeholder="Your name..">
                    </div>
                    <div class="col-2">
                        <label for="lname">Content Order</label>
                    </div>
                    <div class="col-4">
                        <input type="text" id="lname" name="Order" placeholder="Your last name..">
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <label for="country">Content Page</label>
                    </div>
                    <div class="col-4">
                        <select id="country" name="country">
                            <option value="australia">Home</option>
                            <option value="canada">About</option>
                            <option value="usa">USA</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label for="country">Content Page</label>
                    </div>
                    <div class="col-4">
                        <select id="country" name="country">
                            <option value="australia">Home</option>
                            <option value="canada">About</option>
                            <option value="usa">USA</option>
                        </select>
                    </div>
                </div>
                <div class="row">                   
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="subject">Subject</label>
                    </div>
                    <div class="col-75">
                        <textarea id="subject" name="subject" placeholder="Write something.."
                            style="height:200px"></textarea>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-25">
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                    
                </div>
            </form>
        </div>
    </div>
</div>